* {
    padding: 0px;
	margin: 0px;
	font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
}

.contenedor{
    width: fit-content;
    margin: auto;
    padding: 10px;
    margin-top: 10%;
    background-color: #2A68A7;
    border-radius: 10px;
}

.boton {
    padding: 3px 18px 3px 18px;
    font-size: 15px;
    margin-left: 30px;
}

.botones{
    
    width: 100%;
	background-color: #04305D;
    color: #fff;
    margin-top: 10px;
    padding: 10px 0px 10px 0px;
    border-radius: 10px;
}



