* {
    padding: 0px;
	margin: 0px;
	font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
    background-color: rgb(199, 195, 188);
}

h1 {
    text-align: center;
    font-size: 40px;
    background-color: #2A68A7;
}

.titulo {
    text-align: center;
    font-size: 100px
}

.btnRegreso {
    padding: 3px 18px 3px 18px;
    width: fit-content;
    margin-top: 260px;
    margin-left: 700px;
    font-size: x-large;
    font-weight: bold;
    background-color: rgb(31, 16, 163);
    border-radius: 6px;
    border-color: royalblue;
}

.contenedor{
    width: fit-content;
    margin-top: 50px;
    margin-left: 560px;
    padding: 10px;
    background-color: #2A68A7;
    border-radius: 10px;
}

.boton {
    padding: 3px 18px 3px 18px;
    margin-left: 57px;
    font-size: x-large;
    font-weight: bold;
}

.botones{
    
    width: 100%;
	background-color: #04305D;
    color: #fff;
    margin-top: 10px;
    padding: 10px 0px 10px 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

form {
    width: 100%;
    border: 1px solid #072F58;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #2A68A7;
}

.inf {
    padding: 7px;
    background-color: #2A68A7;
}

label {
    display: block;
    font-weight: bold;
    font-size: x-large;
    display: inline-block;
    color: black;
    margin-bottom: 10px;
    width: 46%;
    text-align: left;
    background-color: #2A68A7;
}

input {
    font-weight: bold;
    font-size: 17px;
    border-radius: 3px; 
    background-color: whitesmoke;
}

span {
    background-color: #2A68A7;
    color: rgb(182, 17, 17);
}
