.contenedor {
    max-width: 600px;
    position: relative;
    margin: auto;
    margin-top: 20px;
    
  }

* {
    box-sizing: border-box
}

body {
    font-family: Verdana, sans-serif; 
    margin:0;
}

.prev, .start, .next {
    border-radius: 5px;
    padding: 3px 18px 3px 18px;
    font-size: x-large;
    font-weight: bold;
}

.desliz{
    border-color: black;
    border: 5px;
    padding: 2px;
}

.imagen {
    margin: 10px;
    width: 100%;
    border-color: black;
    border: 5px;
    padding: 2px;
}

.boton {
    margin-top: 15px;
}

.punto, .boton {
    text-align: center;
}
